[submodule "arduinomock"]
	path = arduinomock
	url = git@github.com:Schorsch0815/arduinomock.git
[submodule "rccarswitches"]
	path = rccarswitches
	url = git@github.com:Schorsch0815/rccarswitches.git
